fastapi
uvicorn[standard]
python-multipart
pydantic
langgraph
langchain
langchain-core
langchain-openai
langchain-google-vertexai
google-cloud-aiplatform
google-auth
google-auth-httplib2
pymysql
sqlalchemy
pandas
matplotlib
seaborn
mcp
python-dotenv
pyyaml