fastapi
uvicorn
python-multipart
pydantic
langgraph
langchain
langchain-core
langchain-openai
langchain-google-vertexai
google-cloud-aiplatform
google-auth
pymysql
sqlalchemy
pandas
matplotlib
seaborn
mcp
python-dotenv
pyyaml
